cffi==1.14.2
cmake==3.18.0
cycler==0.10.0
decorator==4.4.2
future==0.18.2
imageio==2.9.0
intel-openmp==2020.0.133
kiwisolver==1.1.0
matplotlib==3.0.3
mkl==2019.0
mkl-include==2019.0
networkx==2.4
numpy==1.18.5
Pillow==7.2.0
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3.1
scikit-image==0.15.0
scipy==1.4.1
six==1.15.0
torch==0.4.1
torchvision==0.2.1
tqdm==4.19.9
typing==3.7.4.3
